@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
  position: fixed;
  top: 0;
  width: 94%;
  height: 80px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 400px;
  padding: 15px 50px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  z-index: 100;
}


.nav-left,
.nav-right {
  display: flex;
  gap: 130px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease;
}

.nav-left a:hover,
.nav-right a:hover {
  color: #d62828; 
}


.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-logo img {
  height: 90px;
  width: auto;
}