.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;

  }
  
  .slider {
    width: 1200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
  }
  
  .bottle-set {
    display: flex;
    align-items: center;
  
    transition: transform 0.5s ease;
  }
  
  .bottle {
    height: 700px;
    object-fit: contain;
    z-index: 2;
  }

  .line {
    width: 1px; 
    height: 500px;
    background: white;
    z-index: 1; 
  }

  .l2{
    margin-left: 70px;
  }
  .next-btn {
    padding: 10px 20px;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    right: 360px;
    border-radius: 100%;
    border: 1px solid white;
    cursor: pointer;
  }
  